      <div class="container">

	      <div id='slider' class="starter-template">
	      		<div id='header'>
			        <h1>Reslife Events @ <i>UWC</i></h1>
			        <p class="lead">Stay up to date on what's happening at your res</p>

				
				<button class='btn' type='button' onclick="window.location='/login'"> Login </button>
				</div>
		  </div>
      

	  </div>

