      <div class="container">

	      <div class="starter-template">
		        <h1>Reslife @ <i>UWC</i></h1>
		        <p class="lead">Stay up to date on what's happening at your res</p>
				
				<button class='btn' type='button' onclick="window.location='Login.html'"> Login </button>
		  </div>
      

	  </div>


	  <div class="container">

		<img src="images/res.jpg" id="bodyImg">
		
      </div>