      <div class="col-xs-9 mainDiv">

	      <div class="col-xs-12 default">
	      		
			<h1>Reslife @ <i>UWC</i></h1>
			<p class="lead">Stay up to date on what's happening at your res</p>

				
			<button class='btn' type='button' onclick="window.location='/login'"> Login </button>
				
		  </div>
      

	  </div>

