


  <body id='loginBody'>

    

    <div class="container">

      <div class="starter-template" id='login'>
         <div id='header'>
            <h1>Reslife @ <i>UWC</i></h1>
            <p class="lead">Stay up to date on what's happening at your res</p>
    		<h4>Username</h4>
    		<input type='text' class='text' placeholder='eg 3242004'><br>
    		<h4>Password</h4>
    		<input type='text' class='text' placeholder='your Udubs password'> <br>
    		<button class='btn' type='button'> Login </button>
    	  </div>
    </div>

	</div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
 
 <script type='text/javascript'>
    $(document).ready(function(){
        $('#loginBody').animate({marginTop:'40%'})
    })
  </script>