body{
  background:whitee no-repeat center center fixed; ;
   background-size:cover;
   font-family: 'Oswald', sans-serif;
}

html{
  font-family: 'Oswald', sans-serif;
}

input{
  display:inline;
  background:rgba(255,215,0,0.8);
  color:navy;
  padding:1.5%;
  outline:none;
  border:none;
  margin-bottom:5%;
  width: 50%;
  border:1px solid black;
  border-radius:5px;
  text-align: center;
  box-shadow: 1px 1px 5px 1px black;
}

#footer{
  background:navy;
  color:white;
  padding:5%;
  height:30em;
  margin-top: 10%;
  width: 100%;
  left: 0;
  
  
}

#loginBody{
  overflow: hidden;
}
#login{
   padding:auto;
   margin-top:-60%;
   text-align:center;
}
body {
  padding-top: 50px;
}

.starter-template {
  padding: 5px 5px;
  text-align: center;
  
  margin-left: -10%;
  width:116.4%;  
  color: white;
  text-shadow:1px 1px black;
 font-family: 'Oswald', sans-serif;
}
.mainDiv{
  padding: 5px 5px;
  text-align: center;
  margin-top:20%;
  margin-left: 10%;
  width:116.4%;  
  color: white;
  text-shadow:1px 1px black;
 font-family: 'Oswald', sans-serif;
 background:#000066;
}
#header{
  
  width:99.2%;


  

}
#header.btn{
  font-family: 'Oswald', sans-serif;
  padding:5%;
}
.navbar-inverse{
  background:navy;
  color:white;
}

#mainHead{
  background:Navy;
  color:white;
}
.btn{
  padding:2%;
  width:20%;
  font-weight:900;
  background:white;
  color:navy;
}

.navbar-brand{
  color:white;
  font-size:16px;
}
.navbar-brand{
  width:6em;
  height:6em;
}
.dates{
  position:absolute;
  background:Grey;
}
.navbar-toggle .collapsed{
  background: white;
}
ul.navbar-nav{
  margin-top:3%;
  margin-left:3%;
}
.navbar-inverse .navbar-nav>li>a{
  color:white;

}
.navbar-inverse .navbar-nav>li>a:hover{
  color:black;
 background:white;
}
.navbar-inverse .navbar-nav>.active>a{
  background:white;
  color:black;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}


.row{
  margin-top: -30%;
}
/* EVENTS HANDLEBAR */

.eventHead{
  background-size:cover;
 font-family: 'Montserrat', sans-serif;
  padding:9.05%;
   height:20em;
}
.OldeventHead{
  background-size:cover;
 font-family: 'Montserrat', sans-serif;
  padding:9.05%;
   height:20em;
   border-radius:50px;
   bord
}
.eventDesc{
  background:#000066;
  color:gold;
font-family: 'Montserrat', sans-serif;
  padding:7%;
  text-shadow:none;
 height:20em;

}
h6{
  font-family: 'Montserrat', sans-serif;
}
.event{
  box-shadow:1px 1px 10px 1px black;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  padding:1%;
  background:white;
}
.oldEvent{
  box-shadow:1px 1px 10px 1px black;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  padding:1%;
  background:#000066;
}
.eventName {
  color:white;



}




/* JOBS HANDLEBAR */

.jobHead{
  background-size:cover;
 font-family: 'Montserrat', sans-serif;
  padding:9.05%;
   height:20em;
}
.OldeventHead{
  background-size:cover;
 font-family: 'Montserrat', sans-serif;
  padding:9.05%;
   height:20em;
   border-radius:50px;
   bord
}
.jobDesc{
  background:#000066;
  color:gold;
font-family: 'Montserrat', sans-serif;
  padding:7%;
  text-shadow:none;
 height:20em;

}
h6{
  font-family: 'Montserrat', sans-serif;
}
.job{
  box-shadow:1px 1px 10px 1px black;
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  padding:1%;
  background:white;
}
.jobEvent{
  box-shadow:1px 1px 10px 1px black;
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  padding:1%;
  background:#000066;
}
.jobName {
  color:white;



}

#contact{
  color:black;
}